<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 style="color: hotpink; font-family: 'Caveat', cursive;">Find me at:</h1>
        <a href="http://www.facebook.com"><img src="{% static 'images/Facebook-logo.png'%}" width="200" height="200" alt="Facebook"></a>
        <a href="http://www.instagram.com"><img src="{% static 'images/instalogo.png'%}"width="100" height="100" alt=""></a>
        <footer>
            <a href="{% url 'home' %}">Go back</a>
        </footer>





  </body>
</html>
